.container {
    width: 100%;
    min-height: 100%; /* aula 09 */
    background-color: #191919;
    color: #fff;
    padding-bottom: 1.5rem;
    text-align: center;
    padding-inline: 1.7rem; /* aula 11 */
    overflow: hidden;
}
